@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --theme-clr: black;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  margin-block: 15px;
}

header div {
  width: clamp(200px, 40vw, 300px);
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.047);
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.093);
}

header button {
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}

header div::before {
  content: "";
  position: absolute;
  width: 50%;
  background-color: var(--theme-clr);
  height: 40px;
  z-index: -1;
  border-radius: 50px;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}

.selectFormateur::before {
  transform: translateX(100%);
}
.blackTxt {
  color: black;
}

section {
  margin-top: 100px;
  width: clamp(300px, 90vw, 1000px);
}

section h1 {
  font-weight: 1000;
  color: var(--theme-clr);
  transition: all 0.2s ease-in-out;
}

table {
  width: clamp(800px, 100%, 1200px);
  margin-top: 20px;
  border-collapse: collapse;
  margin-bottom: 80px;
}

td,
th {
  text-align: left;
}

tr:hover {
  background-color: rgba(247, 241, 241, 0.309);
}
tr,
thead {
  height: 35px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.controls {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  gap: 10px;
}

.controls .search {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
}

.controls input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: 1px solid rgba(128, 128, 128, 0.417);
  padding-inline: 10px;
  color: rgb(98, 90, 90);
  font-size: 0.9rem;
}
.controls input:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 1px black;
}

.search span {
  position: absolute;
  right: 0;
  margin-top: 4px;
  padding: 10px;
  font-size: 1.3rem;
  color: rgba(128, 128, 128, 0.568);
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.controls button {
  background: var(--theme-clr);
  width: 13rem;
  border-radius: 50px;
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.controls button span {
  font-size: larger;
}
.btmTableInfo {
  text-align: center;
  margin-top: 15px;
  color: rgba(128, 128, 128, 0.889);
}

.actions {
  display: flex;

  align-items: center;
}

.actions button {
  background: none;
  outline: none;
  border: none;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  color: var(--theme-clr);
}
.actions button:hover {
  background-color: rgba(175, 171, 171, 0.594);
}
.loaderContainer {
  width: clamp(300px, 90vw, 1000px);
  margin-block: 10px;
  display: flex;
  justify-content: center;
}
.loader {
  margin-inline: auto;
  width: 30px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000000;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.hide {
  display: none !important;
}

.alertErr {
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.173);
  border-radius: 15px;
  width: 300px;
  height: 60px;
  top: 70px;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.03rem;
  background-color: rgba(215, 10, 10, 0.131);
  z-index: 100;
}
.alertErr span {
  color: red !important;
  font-size: larger;
}

.alertSucc {
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.173);
  border-radius: 15px;
  width: 300px;
  height: 60px;
  top: 70px;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.03rem;
  background-color: rgba(10, 215, 68, 0.131);
  z-index: 100;
}
.alertSucc span {
  color: rgb(60, 226, 9) !important;
  font-size: larger;
}

#ajoute-modal::backdrop {
  background: transparent;
  backdrop-filter: blur(3px);
}

#ajoute-modal-div {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 300px;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.216);
  border-radius: 30px;
}

#ajoute-modal-div input {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.318);
}
#ajoute-modal-div input:focus {
  border: 1px solid black;
}
#ajoute-modal-div form {
  width: 100%;
  text-align: center;
}
#ajoute-modal-div form button {
  width: 100%;
  height: 40px;
  background-color: var(--theme-clr);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

#ajoute-modal-div form button:hover {
  width: 70%;
}

#ajoute-close {
  background: none;
  border: none;
  font-size: large;
  align-self: flex-end;
  aspect-ratio: 1;
  border-radius: 50px;
  transition: 0.1s ease-in-out;
  margin-bottom: 10px;
}

#ajoute-close:hover {
  background-color: rgba(128, 128, 128, 0.411);
}

.formErr {
  margin-top: 10px;
  font-size: 1rem;
  color: red;
}
